.borrar_Btn{
    background-color: map-get($color ,cons );
}
.fa-regular{
    color: map-get($color ,dark );
}
.card{
    background-color: map-get($color ,cons );
}
#tiendaContainer{
    justify-content: center;
}